<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQTChroma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <MQTChroma.Properties.Settings>
            <setting name="MQTT_Broker" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTT_Port" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="MQTT_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTT_Password" serializeAs="String">
                <value />
            </setting>
        </MQTChroma.Properties.Settings>
    </userSettings>
</configuration>
